<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ChefSymphony</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>ChefSymphony</h1>

      <div>
        <input id="R-slider" type="range" min="1" max="255" value="50" />
        <input id="G-slider" type="range" min="1" max="255" value="50" />
        <input id="B-slider" type="range" min="1" max="255" value="50" />
        <input id="br-slider" type="range" min="1" max="255" value="50" />
      </div>

      <!-- Display track information -->
      <div class="track-info">
        <h2>Track Information</h2>
        <p id="track-title">Loading...</p>
        <p id="track-artist">Loading...</p>
        <p id="genre">Loading...</p>
        <img id="track-image" src="" alt="Track Image" />
        <br />
        <a id="track-link" href="" target="_blank">Listen on Spotify</a>
      </div>

      <!-- Player controls -->
      <div id="player">
        <button id="play-btn" disabled>Play</button>
        <button id="pause-btn" disabled>Pause</button>
      </div>

      <!-- New track button -->
      <div>
        <button id="refresh-btn">Refresh</button>
      </div>
    </div>
    <!-- Spotify Web Playback SDK -->
    <script src="https://sdk.scdn.co/spotify-player.js"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script type="module">
      // Import the functions you need from the SDKs you need
      import { initializeApp } from "https://www.gstatic.com/firebasejs/10.12.4/firebase-app.js";
      import {
        getDatabase,
        ref,
        set,
        get,
      } from "https://www.gstatic.com/firebasejs/10.12.4/firebase-database.js";

      const firebaseConfig = {
        apiKey: "AIzaSyB4ui4FzDuMv2gcchJCYT2Wuh8K5_oneHU",
        authDomain: "cookiot-test.firebaseapp.com",
        databaseURL: "https://cookiot-test-default-rtdb.firebaseio.com",
        projectId: "cookiot-test",
        storageBucket: "cookiot-test.appspot.com",
        messagingSenderId: "829888621195",
        appId: "1:829888621195:web:e167ef844daf8c75f0428e",
        measurementId: "G-STRDNRT92R",
      };

      // Initialize Firebase
      const app = initializeApp(firebaseConfig);
      const database = getDatabase(app);

      // Function to perform when the image changes
      function onImageChange() {
        // Load the image and calculate the average RGB
        const imgSrc = document.getElementById("track-image").src;
        const img = new Image();
        img.crossOrigin = "Anonymous";
        img.src = imgSrc;
        img.onload = () => {
          const canvas = document.createElement("canvas");
          const ctx = canvas.getContext("2d");
          canvas.width = img.width;
          canvas.height = img.height;
          ctx.drawImage(img, 0, 0, img.width, img.height);
          const imageData = ctx.getImageData(0, 0, img.width, img.height);
          const pixels = imageData.data;

          let r = 0,
            g = 0,
            b = 0;
          let totalLuminance = 0;
          const pixelCount = img.width * img.height;

          for (let i = 0; i < pixels.length; i += 4) {
            r += pixels[i];
            g += pixels[i + 1];
            b += pixels[i + 2];

            // Convert RGB to luminance using the formula: 0.299*R + 0.587*G + 0.114*B
            const luminance =
              0.299 * pixels[i] + 0.587 * pixels[i + 1] + 0.114 * pixels[i + 2];
            totalLuminance += luminance;
          }
          r = Math.floor(r / pixelCount);
          g = Math.floor(g / pixelCount);
          b = Math.floor(b / pixelCount);
          const averageLuminance = Math.floor(totalLuminance / pixelCount);

          document.getElementById("R-slider").value = r;
          document.getElementById("G-slider").value = g;
          document.getElementById("B-slider").value = b;
          document.getElementById("br-slider").value = averageLuminance;

          console.log(`Average RGB: (${r}, ${g}, ${b})`);
          console.log(`Average Luminance: ${averageLuminance}`);

          // Send RGB values to Firebase
          const db = getDatabase(); // Firebase Realtime Database instance
          const dbRef = ref(db, "LED");
          set(dbRef, {
            R: r,
            G: g,
            B: b,
            Brightness: averageLuminance,
            NUMS: 40,
          })
            .then(() => {
              console.log("RGB data successfully written to Firebase.");
            })
            .catch((error) => {
              console.error("Error writing RGB data to Firebase:", error);
            });
        };
      }

      // Select the image element
      const imageElement = document.getElementById("track-image");

      // Create a MutationObserver to watch for attribute changes
      const observer = new MutationObserver((mutationsList) => {
        for (const mutation of mutationsList) {
          if (
            mutation.type === "attributes" &&
            mutation.attributeName === "src"
          ) {
            onImageChange(); // Call the function when the image source changes
          }
        }
      });

      // Start observing the image element for attribute changes
      observer.observe(imageElement, { attributes: true });

      // Function to load data from Realtime Database
      async function loadData(database) {
        const dbRef = ref(database, "Sensors");
        try {
          const snapshot = await get(dbRef);
          if (snapshot.exists()) {
            const data = snapshot.val();
            console.log("Data loaded:", data);

            // Send data to server
            const response = await fetch("/refresh", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify(data),
            });

            const jsonResponse = await response.json();
            return jsonResponse;
          } else {
            console.log("No data available at the specified key.");
          }
        } catch (error) {
          console.error("Error getting data from Firebase:", error);
        }
      }

      document.getElementById("R-slider").addEventListener("change", () => {
        const db = getDatabase(); // Firebase Realtime Database instance
        const dbRef = ref(db, "LED");
        set(dbRef, {
          R: Number(document.getElementById("R-slider").value),
          G: Number(document.getElementById("G-slider").value),
          B: Number(document.getElementById("B-slider").value),
          Brightness: Number(document.getElementById("br-slider").value),
          NUMS: 40,
        }).then(() => console.log("R"));
      });

      document.getElementById("G-slider").addEventListener("change", () => {
        const db = getDatabase(); // Firebase Realtime Database instance
        const dbRef = ref(db, "LED");
        set(dbRef, {
          R: Number(document.getElementById("R-slider").value),
          G: Number(document.getElementById("G-slider").value),
          B: Number(document.getElementById("B-slider").value),
          Brightness: Number(document.getElementById("br-slider").value),
          NUMS: 40,
        }).then(() => console.log("G"));
      });

      document.getElementById("B-slider").addEventListener("change", () => {
        const db = getDatabase(); // Firebase Realtime Database instance
        const dbRef = ref(db, "LED");
        set(dbRef, {
          R: Number(document.getElementById("R-slider").value),
          G: Number(document.getElementById("G-slider").value),
          B: Number(document.getElementById("B-slider").value),
          Brightness: Number(document.getElementById("br-slider").value),
          NUMS: 40,
        }).then(() => console.log("B"));
      });

      document.getElementById("br-slider").addEventListener("change", () => {
        const db = getDatabase(); // Firebase Realtime Database instance
        const dbRef = ref(db, "LED");
        set(dbRef, {
          R: Number(document.getElementById("R-slider").value),
          G: Number(document.getElementById("G-slider").value),
          B: Number(document.getElementById("B-slider").value),
          Brightness: Number(document.getElementById("br-slider").value),
          NUMS: 40,
        }).then(() => console.log("br"));
      });

      // Fetch new track
      document
        .getElementById("refresh-btn")
        .addEventListener("click", async () => {
          document.getElementById("track-title").textContent = "Loading...";
          document.getElementById("track-artist").textContent = "";

          // get track info
          const response = await loadData(database);
          if (response) {
            console.log(response);
            const token = "{{ access_token }}";
            const trackId = response.track_id;
            const genre = response.genre;

            initializeSpotifyPlayer(token, trackId, genre);
          }
        });

      // Initialize Spotify Web Playback SDK
      window.onSpotifyWebPlaybackSDKReady = async () => {
        const token = "{{ access_token }}";
        const response = await loadData(database);
        if (response) {
          console.log(response);
          const trackId = response.track_id;
          const genre = response.genre;

          // Call function to initialize Spotify Player
          initializeSpotifyPlayer(token, trackId, genre);
        }
      };
    </script>
  </body>
</html>
